<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zdns tools</title>
</head>
<body>
    <p>ZDNS-TOOLS</p>
    <div>
    <input type="submit" name="rootpassword" value="root秘钥">
        <p/>
    <input type="submit" name="license" value="license">
    </div>
    <div>
        <form class="getPassword" action="/getpassword">
            <input id="passwordCode" type='text' name='rootpw' placeholder="root秘钥串">
            <input type="submit" value="提交">
        </form>

    </div>
</body>
</html>