<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>

<body>
<div id="register">
    <h3>注册用户</h3>
    <form action="/register" method="POST" class="regist_form">
        <input id="username" class="username" type="text"  name="name" placeholder="用户名">
        <br/>
        <input id="password" class="password" type="password" name="passwd"  placeholder="密码">
        <br/>
        <input id="email" class="email" type="email" name="email"placeholder="邮箱">
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>